[Settings]
ID = "cd8e1bad-afdc-40b8-b444-2ed734c9d717"

[build]
  base = "/"
  publish = "build/"
  command = "npm run build"
  functions = ".lambda/"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
