[Settings]
ID = "cd8e1bad-afdc-40b8-b444-2ed734c9d717"

[build]
  base = "/"
  publish = "packages/client/build/"
  command = "lerna run build"
  functions = "packages/api/.lambda/"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
